body{
    background-color: lightblue;
}

br{
    margin: 10px;
}

.center{
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
}

#playerinfocontainer{
    display: flex;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
}

.playerinfo{
    text-align: center;
    width: 50%;
    font-size: 3rem;
}

.screenCenter{
    position: fixed;
    display: flex;
    margin: 15%;
    width: 70%;
    height: 50%;
}

.loadGame{
    width: 50%;
    text-align: center;
}

#svg-box{
    margin: -300px auto 0;
    padding-top: 0;
    svg{
        width: 700px;
        max-height: 1400px;
        transform: scale(0.5);
    }
}

.rotate90{
    transform: rotate(90deg);
    display: flex;
    margin: auto;
    width: 60%;
    text-align: center;
}

#turncontainer{
    margin-bottom: 0;
    padding-bottom: 0;
}